.DS_Store
node_modules/
dist/
typings/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.iml
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.vscode
wx.d.ts
jsconfig.json
package-lock.json
